<section id="hero2">
  <div class="hero2-container"></div>
</section>
<!-- #hero -->
<div class="container">
  <div class="example-header">
    <mat-form-field>
      <input
        matInput
        #matInput="matInput"
        (keyup)="applyFilter($event.target.value)"
      />
      <mat-placeholder class="placeholder">Search...</mat-placeholder>
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource">
    <!-- Author Column -->
    <ng-container matColumnDef="Author">
      <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.author }}</mat-cell>
    </ng-container>
    <!-- Publisher Column -->
    <ng-container matColumnDef="Publisher">
      <mat-header-cell *matHeaderCellDef>Publisher</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.publisher }}</mat-cell>
    </ng-container>
    <!-- Media Column -->
    <ng-container matColumnDef="Media">
      <mat-header-cell *matHeaderCellDef>Media</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a href="{{ row.url }}">{{ row.fileName }}</a></mat-cell
      >
    </ng-container>
    <!-- Comment Column -->
    <ng-container matColumnDef="Comment">
      <mat-header-cell *matHeaderCellDef>Comment</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</div>
