<!--==========================
      Upload Section
    ============================-->
<section id="hero2">
  <div class="hero2-container"></div>
</section>
<!-- #hero -->
<section id="Contacts">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Upload</h3>
      <p class="section-description">
        Upload files here all fields required marked with *
      </p>
    </div>
  </div>

  <div class="container wow fadeInUp mt-5">
    <div class="row justify-content-center">
      <!--
      <div class="col-lg-3 col-md-4">

        <div class="info">
          <div>
            <p>Title:</p>
          </div>
          <div>
            <p>Author:</p>
          </div>
          <div>
            <p>Publisher:</p>
          </div>
          <div>
            <p>Date Published:</p>
          </div>
          <div>
            <p>File Submission:</p>
          </div>
          <div>
            <p>Description:</p>
          </div>
        </div>
      </div>
    -->
      <!--form file-->

      <div class="col-sm-8" style="border: solid 1px black;">
        <div class="form">
          <form
            #form
            id="media"
            action=""
            method="post"
            role="form"
            class="uploadForm"
            [formGroup]="mediaForm"
            novalidate
            (ngSubmit)="submit(mediaForm.value, mediaForm.valid)"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <mat-form-field class="full-width-field">
                <mat-label>Title</mat-label>
                <input
                  matInput
                  type="text"
                  name="title"
                  id="title"
                  class="form-control"
                  id="Title"
                  placeholder="Title"
                  formControlName="title"
                  required
                />
                <mat-error *ngIf="hasError('title', 'required')"
                  >Title is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="full-width-field">
                <mat-label>Author</mat-label>
                <input
                  matInput
                  type="text"
                  class="form-control"
                  name="author"
                  id="author"
                  placeholder="Author"
                  formControlName="author"
                  required
                />
                <mat-error *ngIf="hasError('author', 'required')"
                  >Author is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="full-width-field">
                <mat-label>Date Published</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  type="text"
                  class="form-control"
                  name="datePublished"
                  id="datePublished"
                  placeholder="Date Published"
                  formControlName="datePublished"
                  (focus)="picker.open()"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="hasError('datePublished', 'required')"
                  >Date Published is required</mat-error
                >
              </mat-form-field>
            </div>
            <div class="form-group">
              <div style="text-align: center; margin-top: 20px;">
                <div class="progress form-group" *ngIf="progress > 0">
                  <div
                    class="progress-bar progress-bar-striped bg-success"
                    role="progressbar"
                    [style.width.%]="progress"
                  ></div>
                </div>

                <div class="form-group">
                  *
                  <input
                    id="uploadFile"
                    name="uploadFile"
                    type="file"
                    (change)="uploadFile($event)"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <mat-form-field class="full-width-field">
                <textarea
                  matInput
                  class="form-control"
                  name="description"
                  rows="5"
                  placeholder="Description"
                  formControlName="description"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="text-center"><button type="submit">Upload</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <form
  [formGroup]="mediaForm"
  (ngSubmit)="submit(mediaForm.value, mediaForm.valid)"
>
  <label>
    Author:
    <input type="text" formControlName="author" /> </label
  ><br />
  <label>
    Publisher:
    <input type="text" formControlName="publisher" /> </label
  ><br />
  <label>
    Description:
    <input
      type="textarea"
      rows="5"
      cols="50"
      formControlName="description"/></label
  ><br />
  <label>
    Upload Media:
    <input
      #fileInput
      type="file"
      value="Upload Media"
      (change)="onFileChange($event)"
    /> </label
  ><br />
  <button type="submit">Submit</button>
  <br /><br />
  <label>{{ confirmation }}</label>
</form> -->
